@keyframes side-left{
	from{
		left: 100%;
		opacity: 0;
	}
	to{
		left: 0px;
		opacity: 1;
	}
}

@keyframes side-right{
	from{
		right: 100%;
		opacity: 0;
	}
	to{
		right: 0px;
		opacity: 1;
	}
}

@keyframes fly-up{
	from{
		opacity: 0;
		top: 0px;
	}
	to{
		opacity: 1;
		top: 60px;
	}
}

/*Master style*/
body{
	margin: 0;
	padding: 0;
	background: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
}

*{
	box-sizing: border-box;
}

.container{
	margin: 0;
	padding: 0;
}

hr{
	border: 1px solid #ff748c;
}

/*style untuk top-bar*/

.top-bar{
	z-index: 1;
	display: flex;
	position: fixed;
	width: 100%;
	justify-content: space-between;
	top: 0;
	left: 0;
	background:  #ff748c;
	font-weight: bolder;
	padding: 15px;
	box-shadow: 0px 2px 2px grey;
	font-size: 0.9em;
}

.title-btn a{
	font-size: 0.9em;
	text-decoration: none;
	padding: 0px;
	color: white;
	padding-bottom: 2px;
	border-bottom: 2px solid transparent;
	/* animasi untuk hover */
	transition: 0.5s;
	transition-property: border;
}

.title-btn a:hover{
	border-bottom: 2px solid white;
}

.title-btn{
	padding-right: 10px;
}

.title-btn-exception{
	font-size: 0.9em;
	padding: 5px;
	color: white;
	font-weight: bold;
}

#title-focus{
	border-bottom: 2px solid white;
}

.center{
	margin: auto;
	width: 75%;
}

.body-container{
	position: relative;
	top: 60px;
	animation-name: side-right;
	animation-duration: 1.5s;
}

/*style untuk title*/
.big-title h1{
	font-size: 28px;
	position: relative;
	align-content: center;
	color: #ff748c;
	text-align: center;
	padding-bottom: 5px;
}

/*style untuk container*/

.solver-container{
	background: white;
	padding: 20px;
	text-align: center;
	border: 3px dashed #ff748c;
	
	
}

#tool-input{
	margin-left: 5px;
	margin-right: 5px;
}

#tool-input input{
	border: none;
	border: 2px solid #ff748c;
	border-radius: 5px;
	padding: 8px;
	width: 40px;
	box-sizing: border-box;
}

.tool-btn{
	border-radius: 5px;
	color: white;
	background-color: #ff748c;
	font-size: 0.9em;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px; 
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	transition: 0.5s;
	transition-property: filter;
}


.tool-btn:hover{
	filter: brightness(80%);
}

.tool-btn-container{
	padding-left: 10px;
	padding-right: 10px;
}

#quadratic_equation{
	font-weight: bold;
}

#answer{
	display: none;
}

.node-soal{
	background: white;
	padding: 20px;
	text-align: left;
	border: 3px dashed #ff748c;
	padding-top: 10px;
}

.done-answering{
	text-align: center;
}

#done-btn{
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 50px;
}

.card-item-container{
	background: white;
	padding: 20px;
	text-align: center;
	border: 3px dashed #ff748c;

	margin: auto;
	width: 65%;
}

.pic img{
	height: 60px;
}

.sosmed-container a img{
	height: 50px;
}

.sosmed-container a{
	padding-left: 15px;
	padding-right: 15px;	
}

.title{
	font-weight: bolder;
	color: #ff748c;
	font-size: 1.25em;
}

.subtitle{
	font-weight: bolder;
	color: #ff748c;
}

/* modal style*/

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content{
	background-color: white;
	margin: auto;
	padding: 20px;
	border: 2px solid #ff748c;
	width: 80%;
}

.close{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}


#history{
	text-align: center;
	padding: 5px;
	text-decoration: none;
	color: #ff748c;
	width: 50px;
	height: 50px;
}

#history a{
	color: #ff748c;
	text-decoration: none;
	transition: 0.5s;
	transition-property: filter;
}

#history a:hover{
	filter: brightness(50%);
}

#history a img{
	width: 35px;
}